<div class="navbar bg-base-100 shadow-sm sticky top-0 z-50">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl font-bold" href="{% url 'feed' %}">SnapGram</a>
  </div>
  {% if request.resolver_match.url_name != 'login' or  request.resolver_match.url_name != 'register'%}
    <div class="flex-1 flex justify-center">
        <div class="relative">
            <input type="text" name="q" placeholder="Search..."
                   class="input input-sm w-64 border border-base-300"
                   hx-get="{% url 'search' %}"
                   hx-trigger="keyup changed delay:300ms"
                   hx-target="#search-results"
                   hx-include="this"
                   autocomplete="off"/>
            <div id="search-results" class="absolute top-10 left-0 w-72 bg-base-100 shadow-lg rounded-box z-50"></div>
        </div>
    </div>
    {% endif %}
  <div class="gap-2 flex-1 flex justify-end">
    {% if request.user.is_authenticated %}
    <button class="btn btn-ghost btn-circle">
      <div class="indicator">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
          />
        </svg>
      </div>
    </button>
    <a href="{% url 'new_post' %}" class="btn btn-ghost btn-circle">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
    </svg>
</a>
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          {% if request.user.profile.avatar %}
          <img
            src="{{ request.user.profile.avatar.url }}"
            alt="{{ request.user.username }}"
          />
          {% else %}
          <img
            src="https://res.cloudinary.com/snapgram-dj/image/upload/default_image_profile"
            alt="default"
          />
          {% endif %}
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-10 mt-3 w-52 p-2 shadow"
      >
        <li>
          <a href="{% url 'profile' username=request.user.username %}"
            >Profile</a
          >
        </li>
        <li>
          <a href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </div>
    {% else %}
    <button class="btn btn-ghost btn-circle" onclick="window.location.href='{% url 'login' %}'">
      <div class="indicator">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
          />
        </svg>
      </div>
    </button>
    <a href="{% url 'login' %}" class="btn btn-ghost btn-circle">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
    </svg>
  </a>
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            src="https://res.cloudinary.com/snapgram-dj/image/upload/default_image_profile"
            alt="default"
          />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-10 mt-3 w-52 p-2 shadow"
      >
        <li>
          <a href="{% url 'register' %}"
            >Register</a
          >
        </li>
        <li>
          <a href="{% url 'login' %}">Login</a>
        </li>
      </ul>
    </div>

    {% endif %}
  </div>
</div>
