<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}SnapGram{% endblock title %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
      integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
      crossorigin="anonymous"
    ></script>
    <style>
      #id_image {
        display: none;
      }
    </style>
  </head>

  <body>
    {% include 'includes/navbar.html' %} 
    {% block content %} 
    {% endblock content%}
  <script>
    document.body.addEventListener('htmx:configRequest', function(evt) {
        evt.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });
</script>
{% comment %} <script>
    let lastScroll = 0;
    const navbar = document.querySelector('.navbar');
    
    window.addEventListener('scroll', () => {
        const current = window.scrollY;
        if (current > lastScroll && current > 100) {
            navbar.style.transform = 'translateY(-100%)';
        } else {
            navbar.style.transform = 'translateY(0)';
        }
        lastScroll = current;
    });
</script> {% endcomment %}
<script>
document.body.addEventListener('htmx:beforeSwap', function(evt) {
    console.log('beforeSwap fired, status:', evt.detail.xhr.status);
    if (evt.detail.xhr.status === 401) {
        console.log('redirecting to login');
        window.location.href = '/user/login/';
        evt.detail.shouldSwap = false;
    }
});
</script>
  </body>
</html>
