{% extends "base.html" %}
{% block title %}SnapGram - Register{% endblock title %}

{% block content %}
    <h1>SnapGram Registration</h1>
    <form action="{% url 'register' %}" method="POST" class="register_form">
        {% csrf_token %}
        {% if error %}
            <p>{{error}}</p>
        {% endif %}
        <input type="text" class="input_field" name="first_name" placeholder="First Name" />
        <input type="text" class="input_field" name="last_name" placeholder="Last Name" />
        <input type="text" class="input_field" name="username" placeholder="Username" />
        <input type="email" class="input_field" name="email" placeholder="Email" />
        <input type="password" class="input_field" name="password" placeholder="Password" />
        <input type="password" class="input_field" name="confirm_password" placeholder="Confirm Password" />
        <input type="submit" class="submit_button"/>
    </form>
{% endblock content %}